[submodule "include/MagSampleFetcher_cpp"]
	path = include/MagSampleFetcher_cpp
	url = https://github.com/frnyb/MagSampleFetcher_cpp.git
[submodule "include/SlidingWindowMagSampleFetcher_cpp"]
	path = include/SlidingWindowMagSampleFetcher_cpp
	url = https://github.com/frnyb/SlidingWindowMagSampleFetcher_cpp.git
[submodule "include/BRAM-uio-driver"]
	path = include/BRAM-uio-driver
	url = https://github.com/DIII-SDU-Group/BRAM-uio-driver.git
